.container {
  display: flex;
  justify-content: center;
  margin-top: 9%;
}

.input {
  width: 25%;
  height: 25px;
  outline: none;
}

.is-error {
  width: 25%;
  height: 25px;
  outline: none;
  border: 1px solid gray;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(255, 0, 0, 0.564);
}

.error-message {
  color: red;
  margin-left: 32.8%;
  margin-top: 0.5%;
  font-style: italic;
  font-size: 14px;
}

.button-on {
  width: 9%;
  background-color: rgb(97, 97, 238);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button-off {
  width: 9%;
  background-color: rgba(97, 97, 238, 0.468);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: no-drop;
}

.contTags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 325px;
  margin-left: 31%;
  margin-top: 10px;
}

.tag {
  border-radius: 8px;
  background-color: rgb(136, 192, 242);
  color: rgb(0, 86, 162);
  padding: 2px 1px 2px 8px;
  margin-left: 15px;
  margin-top: 15px;
}

.delTag {
  font-size: 8px;
  padding-left: 15px;
  background-color: rgb(136, 192, 242);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}